* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    font-family: system-ui;
}
.container-nav {
    background-color: white;
    border: 2px solid #222;
    margin: 15px;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    background-color: green;
    padding: 20px;
    border: 2px solid #222;
}

.nav-btn {
    background-color: green;
    padding: 20px;
    border: 2px solid #222;
}
.box-1 {
    background: white;
    border: 2px solid #222;
    
}
.box-2 {
    background: white;
    gap: 15px;
    align-items: center;
    border: 2px solid #222;
}
.box-3 {
    background: white;
    border: 2px solid #222;
}
.box-1, .box-2, .box-3 {
    height: 200px;
    margin: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mini-box-1 {
    background: green;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #222;
    height: 25%;
}

.mini-box-2 {
    background: green;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #222;
    height: 50%;
}

.mini-box-3 {
    background: green;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #222;
    height: 75%;
}

footer {
    background-color: white;
    padding: 10px;
    display: flex;  
    justify-content: center;
    border: 2px solid #222;
    margin: 15px;
}

@media screen and (min-width: 801px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    .box-1 {
        width: 50%;
    }
    .box-2 {
        width: 100%;
        order: 3; 
    }
    .box-3 {
        width: 50%;
    }
    .box-2 {
        flex-direction: row-reverse;
    }
    .nav-btn {
        flex: 0.5;
    }
}
@media screen and (min-width: 1045px) {
    .box-1 {
        flex-grow: 1;
        flex-basis: 0;
        order: 1;
    }
    .box-3 {
        
        order: 1;
    }
}

@media screen and (min-width: 1179px) {
    .container {
        max-width: 1179px;
    }
}